/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  
  --primary-color: #41b4b5;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-viewer {
  flex: 1;
}

h1 {
  text-align: center;
  font-weight: 400;
}
